$color-base: #FF6060;

.header{
    display: flex;
    justify-content: space-between;
    width: 86%;
    margin: 45px auto 50px;
    img{
        height: 60px;
    }
    nav{
        
        ul{
            list-style-type: none;
            display: flex;
            gap: 50px;

            li{
                .activeLink{
                text-decoration: underline;
                }

                a{
                color: $color-base;
                text-decoration: none;
                font-weight:bold;
                font-size: 26px;
                }
            
            }
        }
    }
};

@media all and(max-width: 650px){
    .header{
        width: 90%;
        margin: 20px auto 27px;
        img{
            width: 40%;
        }
       nav{
        
        ul{
            align-items: center;
            gap:30px;
            li{
                a{
                    font-size: 12px;
                    text-transform: uppercase;
                }
            }

        }
    }  
    }
}


