.tagsWrapper{
    width: 100%;
    
    height: auto;
    ul{
        display: flex;
        list-style-type: none;
        gap: 5px;
        justify-content: flex-start;
        padding: 5px;
        flex-wrap: wrap;
    }
    

    .tag{
        min-width: 115px;
        width:fit-content;
        height: 20px;
        padding: 2px 10px;

        background-color: #FF6060;
        border-radius: 10px;

        color: white;
        font-size: 14px;
        font-weight: bold;
        text-align: center;
    }

}

@media all and(max-width:650px){
    .tagsWrapper{
        ul{
            justify-content: center;
        }
    }
}