.apropos-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
    width: 86%;
    margin: 0 auto 38px auto;
    .collapse-container{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 86%;
        margin: auto;
        .content-hide{
            height: 0px;
            transition: height ease 0.6s;
        }
        .content-show{
            height: 85px;
            transition: height ease 0.6s;
        }
        .Sécurité{
            height: 100px;
        }
    }
}

@media all and (max-width: 650px){
    .apropos-container{
        width: 90%;
        .collapse-container{
            width: 100%;
            .content-show{
                font-size: 14px;
                height: 132px;
            }
            .Sécurité{
                height: 217px;
            }
        }
    }
    
}