
.accomodation-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 86%;
    margin: auto;
    color: #FF6060;
    .info-wrapper{
        width: 100%;
        display: flex;
        justify-content: space-between;
        .accomodation-info{
            width: 70%;
            display: flex;
            flex-direction: column;
           
            .titleWrapper{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                .title{
                    margin: 0px;
                    padding: 5px;
                    font-size: 36px;
                }
                .location{
                    margin: 0px;
                    padding: 5px;
                    font-size: 18px;
                    font-weight:bold;
                }
            }
        }
        .host-info{
            width: 30%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            align-items: flex-end;
            margin-bottom: 30px;
            padding-right: 5px;
        }
    }
    }
    
.descriptionAndEquipements{
    width: 100%;
    display: flex;
    gap: 70px;
    justify-content: space-between;
    margin-bottom: 60px;
    .content-hide{
        height: 0px;
        transition: height ease 0.6s;
    }
    .content-show{
        height: 147px;
        transition: height ease 0.6s;
    }
}
.description{
    width: 47%;
    
}
.equipement{
    width: 47%;
    .item{
        list-style: none;
    }
}

@media all and(max-width:796px){
    .accomodation-container{
        .info-wrapper{
            flex-direction: column;
            .accomodation-info{
                width: 100%;
                .titleWrapper{
                    .title{
                        font-size: 18px;
                    }
                    .location{
                        font-size: 16px;
                    }
                }
                
            }
            .host-info{
            display: flex;
            flex-direction: row-reverse;
            align-items: center;
            width: 100%;
        }
        }
        .descriptionAndEquipements{
            flex-direction: column;
            justify-content:flex-start;
            margin-bottom: 30px;
            gap: 30px;
            .description{
                width: 100%;
                min-width: 250px;
                .content-show{
                    height: 244px;
                }
            }
            .equipement{
                width: 100%;
                min-width: 250px;
            }
        }
    }
    
}