@charset "UTF-8";

.apropos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 30px;
  width: 86%;
  margin: 0 auto 38px auto;
}

.apropos-container .collapse-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 86%;
  margin: auto;
}

.apropos-container .collapse-container .content-hide {
  height: 0px;
  transition: height ease 0.6s;
}

.apropos-container .collapse-container .content-show {
  height: 85px;
  transition: height ease 0.6s;
}

.apropos-container .collapse-container .Sécurité {
  height: 100px;
}

@media all and (max-width: 650px) {
  .apropos-container {
    width: 90%;
  }

  .apropos-container .collapse-container {
    width: 100%;
  }

  .apropos-container .collapse-container .content-show {
    font-size: 14px;
    height: 132px;
  }

  .apropos-container .collapse-container .Sécurité {
    height: 217px;
  }
}

.accomodation-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 86%;
  margin: auto;
  color: #FF6060;
}

.accomodation-container .info-wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.accomodation-container .info-wrapper .accomodation-info {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.accomodation-container .info-wrapper .accomodation-info .titleWrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.accomodation-container .info-wrapper .accomodation-info .titleWrapper .title {
  margin: 0px;
  padding: 5px;
  font-size: 36px;
}

.accomodation-container .info-wrapper .accomodation-info .titleWrapper .location {
  margin: 0px;
  padding: 5px;
  font-size: 18px;
  font-weight: bold;
}

.accomodation-container .info-wrapper .host-info {
  width: 30%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
  padding-right: 5px;
}

.descriptionAndEquipements {
  width: 100%;
  display: flex;
  gap: 70px;
  justify-content: space-between;
  margin-bottom: 60px;
}

.descriptionAndEquipements .content-hide {
  height: 0px;
  transition: height ease 0.6s;
}

.descriptionAndEquipements .content-show {
  height: 147px;
  transition: height ease 0.6s;
}

.description {
  width: 47%;
  overflow: scroll;
}

.equipement {
  width: 47%;
  overflow: scroll;
}

.equipement .item {
  list-style: none;
}

@media all and (max-width: 796px) {
  .accomodation-container .info-wrapper {
    flex-direction: column;
  }

  .accomodation-container .info-wrapper .accomodation-info {
    width: 100%;
  }

  .accomodation-container .info-wrapper .accomodation-info .titleWrapper .title {
    font-size: 18px;
  }

  .accomodation-container .info-wrapper .accomodation-info .titleWrapper .location {
    font-size: 16px;
  }

  .accomodation-container .info-wrapper .host-info {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    width: 100%;
  }

  .accomodation-container .descriptionAndEquipements {
    flex-direction: column;
    justify-content: flex-start;
    margin-bottom: 30px;
    gap: 30px;
  }

  .accomodation-container .descriptionAndEquipements .description {
    width: 100%;
    min-width: 250px;
  }

  .accomodation-container .descriptionAndEquipements .description .content-show {
    height: 244px;
  }

  .accomodation-container .descriptionAndEquipements .equipement {
    width: 100%;
    min-width: 250px;
  }
}

.error {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: #FF6060;
  width: 80%;
  margin: 139px auto 139px auto;
  gap: 139px;
}

.error span {
  font-weight: bold;
  font-size: xx-large;
}

.error .returnHome {
  color: #FF6060;
  font-weight: bold;
  font-size: large;
}

@media all and (max-width: 650px) {
  .error {
    width: 90%;
    gap: 70px;
    margin: 70px auto 70px auto;
  }

  .error img {
    width: 80%;
  }

  .error span {
    width: 100%;
    margin: auto;
    text-align: center;
    font-size: 18px;
  }

  .error .returnHome {
    width: 90%;
    margin: auto;
    font-size: 15px;
    text-align: center;
  }
}

* {
  font-family: "Montserrat", "sans-serif";
}

.home {
  width: 86%;
  margin: auto;
  min-width: 335px;
}

.home .cardContainer {
  display: grid;
  grid-template-columns: 30% 30% 30%;
  justify-content: center;
  box-sizing: border-box;
  row-gap: 50px;
  column-gap: 5%;
  width: 100%;
  margin: auto;
  height: auto;
  border-radius: 25px;
  background: #F6F6F6;
  margin-bottom: 50px;
  padding: 56px 50px;
}

@media all and (max-width: 1000px) {
  .home .cardContainer {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media all and (max-width: 650px) {
  .home {
    width: 90%;
    margin: auto;
  }

  .home .cardContainer {
    display: flex;
    flex-direction: column;
    padding: 0px;
    background-color: white;
    gap: 20px;
  }
}